@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>

@{
    ViewBag.Title = "Catalogus";
}

@section stylesheets
{
    <link href="~/Content/lightbox.css" rel="stylesheet" />
}

<div id="success" class="alert alert-success"></div>
<div id="error" class="alert alert-warning"></div>





<h2>Catalogus</h2>

<p>Dit is de catalogus met alle materialen die kunnen gereserveerd worden. Door te klikken op het hartje kan je materiaal toevoegen aan jouw verlanglijstje. Door het klikken op de naam van de materialen zal je naar een detail pagina met extra uitleg over de materialen gebracht worden.</p>
<hr />

@Html.Partial("_PartialFilter")

<hr />

@Html.Partial("_MateriaalList")

@section scripts
{
    <script src="~/Scripts/lightbox.js"></script>
    <script src="~/Scripts/wishlist.js"></script>
}